* {
    box-sizing: border-box;
}
@import "@picocss/pico/scss/pico";

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-responsive {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-1 {
    flex-grow: 1;
}

.flex-2 {
    flex-grow: 2;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
    .flex-responsive {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .nav-button {
        width: 100%;
    }

    .flex-responsive li {
        width: 100%;
    }
}